.container {
  max-width: 1140px;
  margin: auto;
}

.heading {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr 1.5fr;
  align-items: center;

  background-color: #26272b;
  box-shadow: 0px 0px 12px #18191b;
  border-radius: 8px;
  margin: 2rem 1rem;
  padding: 0.7rem 1rem;
  font-weight: 700;
}

.title,
.loader-wrapper {
  text-align: center;
}
